{% extends "users/base.html" %}
{% block content %}
    <h3>Welcome to the {{ court }} page</h3>
    <br>
    <br>
    <img src="{{ court.image.url }}" alt="{{ court }}" class="sport-img">
    <p>Sport: {{ court.sport }}</p>
    <p>Rating: {{ court.rating }}</p>
    <p>Capacity: {{ court.capacity }}</p>

    {% if slots %}
        <h3>Available Slots:</h3>
        <form method="post">
            {% csrf_token %}
            <label for="slot">Choose a Slot:</label>
            <select name="slot" id="slot">
                {% for slot in slots %}
                <option value="{{ slot.pk }}">{{ slot.start|date:"j M H:i" }}-{{ slot.end|date:"H:i" }}</option>
                {% endfor %}
            </select>
            <button type="submit">Book Slot</button>
        </form>
    {% else %}
        <h3>No Slots Currently!</h3>
    {% endif %}

    {% if user.type == 2 %}
    <form method="post">
        {% csrf_token %}
        <h3>Add a new slot!</h3>
        <label for="date">Date of Slot</label>
        <input type="date" name="date">
        <br>
        <br>
        <label for="starttime">Start Time</label>
        <input type="time" name="starttime">
        <br>
        <br>
        <label for="endtime">End Time</label>
        <input type="time" name="endtime">
        <br>
        <br>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    {% endif %}
{% endblock content%}
