{% extends "users/base.html" %}
{% block content %}
    <h3>Welcome to the {{ sport }} page</h3>
    {% if user.type == 2 %}
        <button><a href="{% url 'court-create' sport.pk %}">Add New Court</a></button>
        <button><a href="{% url 'item-create' sport.pk %}">Add New Item</a></button>
    {% endif %}
    <br>
    <br>
    <img src="{{ sport.image.url }}" alt="{{ sport }}" class="sport-img">
    <p>{{ sport.description }}</p>

    {% if inventory %}
    <h3>Inventory</h3>
    <ul>
    {% for item in inventory %}
    <li>
        <img class="list-img" src="{{ item.image.url }}">
        {{ item }}({{ item.number }} available)
    </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if courts %}
    <table class="courts">
        <thead>
            <tr>
            <th class="th">Courts</th>
            <th class="th">Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for court in courts %}
                <tr>
                    <td class="td"><a href="{% url 'court-detail' court.pk %}">{{ court }}</a></td>
                    <td class="td">{{ court.capacity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h3>Courts yet to be updated!</h3>
    {% endif %}
{% endblock content%}
