{% extends "users/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.type == 1 %}
            <h2>You are a member</h2>
        {% elif user.type == 2 %}
            <h2>You are a staff</h2>
            <button><a href="{% url 'sport-create' %}">Create New Sport</a></button>
        {% else %}
            <h2>You are the admin</h2>
            <button><a href="{% url 'userlist' 0 %}">Check Access</a></button>
        {% endif %}
        <button><a href="{% url 'all-sports' %}">All Sports</a></button>
        <h3>Trending Sports!</h3>

        <ol>
        {% for sport in sports %}
            <li><a href="{% url 'sport-detail' sport.pk %}">{{ sport }}</a></li>
        {% endfor %}
        </ol>

        <h3>Search for a sport</h3>
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search for a Sport" aria-label="Search" aria-describedby="search-addon" name="searched">
                <button type="submit" class="btn btn-outline-primary">Search</button>
                </div>
            </form>
        </div>
        {% if searched %}
            <table class="table table-bordered table-hover bg-white">
                <thead class="thead-light">
                    <tr>
                    <th scope="col" class="text-center"><h3>You searched for {{ searched }}</h3></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sport in searchedsports %}
                    <tr>
                        <td>
                            <img class="list-img" src="{{ sport.image.url }}">
                            <a href="{% url 'sport-detail' sport.pk %}">{{ sport }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
    <h3>Sports!</h3>
    {% endif %}
{% endblock content%}